@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 36em;
  --breakpoint-sm: 48em;
  --breakpoint-md: 62em;
  --breakpoint-lg: 75em;
  --breakpoint-xl: 88em;
}

:root {
  --background: #ffffff;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
