on:
  push:
    branches:
      - main

jobs:
  build-deploy-appservice:
    uses: BMA-Dassle/azure_workflows/.github/workflows/azure-as-deploy.yml@main
    with:
      app: bma-backoffice
    secrets: inherit
