name: Release to prod

on:
  push:
    branches:
      - main

env:
  WEBAPP_NAME: bma-backoffice
  RESOURCE_GROUP: BMA

jobs:
  build-deploy-appservice:
    uses: BMA-Dassle/azure_workflows/.github/workflows/azure-as-deploy.yml@main
    with:
      app: bma-backoffice
      slot: staging

    secrets: inherit
