name: Deploy to PR

on:
  pull_request:
    branches:
      - main

concurrency:
  group: ci-${{ github.event.number }}

env:
  WEBAPP_NAME: bma-backoffice
  RESOURCE_GROUP: BMA
  SLOT_NAME: pr-${{ github.event.number }}

jobs:
  set-up-test-env:
    name: Create test env
    runs-on: ubuntu-latest

    steps:
      - name: Log into Azure CLI with service principal
        uses: azure/login@v1.1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create slot on staging site
        run: az webapp deployment slot create --resource-group $RESOURCE_GROUP  --name $WEBAPP_NAME --slot $SLOT_NAME --configuration-source $WEBAPP_NAME

  build-deploy-appservice:
    needs: [set-up-test-env]
    uses: BMA-Dassle/azure_workflows/.github/workflows/azure-as-deploy.yml@main
    with:
      app: bma-backoffice
      slot: pr-${{ github.event.number }}

    secrets: inherit

  cleanup:
    runs-on: ubuntu-latest
    needs: [build-deploy-appservice, set-up-test-env]
    permissions:
      pull-requests: write
    steps:
      - name: Comment on PR with the preview link
        uses: mshick/add-pr-comment@v1
        with:
          message: |
            ## Preview link: https://${{ env.WEBAPP_NAME }}-${{env.SLOT_NAME }}.azurewebsites.net 

            - Your changes have been deployed to the preview site. The preview site will update as you add more commits to this branch.
            - The preview link is shareable, but will be deleted when the pull request is merged or closed.

            > *This is an automated message.*
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: "github-actions[bot]"
